.loading {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.user .p-datatable-table,
.token .p-datatable-table {
  width: 100%;
  table-layout: fixed;
}

.p-column-header-content{
    justify-content: center;
}

.p-datatable-tbody tr td,
.p-column-title {
    text-align: center;
    word-wrap: break-word;
}